body {
    margin: 0;
    font-size: 14px;
    text-align: center;
    box-sizing: content-box;
}

ul, h1, h2, p {
    margin: 0;
}

nav {
    background-color: #222222;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    padding: 1rem;
}

a {
    color: #BF40BF;
    text-decoration: none;
}

.background {
    background-color: rgba(163, 82, 163, 0.5)

}

.container {
    width: 90%;
    margin: auto;
}

#home {
    min-height: 20rem;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#events {
    min-height: 30em;
    background-image: url('images/events.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.events p {
    padding-bottom: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    padding: 2rem 0;
}

#testimonial {
    min-height: 20rem;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article {
    padding-bottom: 1.5rem;
}

article p {
    padding: 0;
}

footer {
    background: #222222;
}

footer p {
    padding: 1em;
    text-align: right;
}

@media (min-width: )