*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto Mono', monospace;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light: #f2f2f2;
    --clr-dark: #2b6777;
    --clr-accent: #52ab98;

    --fs-h1: 2.45rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 
        0.25em 0.25em 0.75em rgba(0,0,0,0.25),
        0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

@media (min-width: 900px) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

@media (min-width: 1200px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.25rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-reg);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 4em 1.75em;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.0;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

strong {
    font-weight: var(--fw-bold);
}

.section__title {
    margin-bottom: 0.125em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    color: var(--clr-light);
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    margin-bottom: 1em;
}

.section__subtitle--projects {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: var(--clr-light);
    margin-bottom: 2em;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo a {
    color: inherit;
    text-decoration: none;
}

.nav {
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    /* height: 100%;
    flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 1.4em;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 1.85em;
    right: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0%);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-12px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2em;
    height: 4px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 12px;
}

.hamburger::after {
    bottom: 12px;
}


/* Introduction */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {

    .intro {
        display: grid;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        left: -1em;
        width: calc(100% + 2em);
        text-align: right;
        position: relative;
    }
}

@media (min-width: 900px) {
    .intro__img {
        min-width: 400px;
    }
}

@media (min-width: 1200px) {
    .intro__img {
        min-width: 550px;
    }
}

/* My Skills */

.my-skills {
    background-color: var(--clr-dark);
    background-image: url('images/skills-bg.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: "";
    display: block;
    width: 2.5em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-light);
    opacity: 0.5;
}

.skills {
    margin-bottom: 4em;
}

.skill {
    max-width: 500px;
    margin: 2em auto;
}

.skill h3 {
    font-size: var(--fs-h2);
}

@media (min-width: 300px) {
    .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2em;
    }
}

@media (min-width: 900px) {
    .skills {
        display: flex;
        margin: 4em auto;
        column-gap: 2em;
        max-width: 1400px;
    }
}


/* About Me */

.about-me {
    max-width: 1200px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

.section__subtitle--about {
    position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
    
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;

    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        padding-right: calc(250px + 2em);
    }

    .about-me__body {
        grid-area: text;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

@media (min-width: 900px) {

    .about-me {
        grid-template-columns: 1fr 400px;
    }
    .section__subtitle--about {
        padding-right: calc(400px + 2em);
    }
}

@media (min-width: 1200px) {

    .about-me {
        grid-template-columns: 1fr 550px;
    }
    .section__subtitle--about {
        padding-right: calc(550px + 2em);
    }
}

/* My Projects */

.my-projects {
    background-color: var(--clr-dark);
    background-image: url('images/project.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: var(--clr-accent);
    text-align: center;
}

.section__title--projects {
    position: relative;
}

.section__title--projects::after {
    content: "";
    display: block;
    width: 2.5em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-light);
    opacity: 0.5;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__item {
    background-color: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
        max-width: 100%;
        border: 2px solid var(--clr-accent);
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.75;
}

.footer {
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.75;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}

/* Contact */

.contact {
    padding: 0 2em 2em;
    max-width: 1200px;
    margin: auto;
}

.contact p {
    padding-top: 2em;
}

.contact::before {
    content: "";
    display: block;
    width: 25em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-accent);
    opacity: 0.75;
}
